html {
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  -webkit-text-fill-color: #DEB3E4;
  text-align: center;
}


.imgp1 {
    width: 879px;
    height: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border: 10px solid #B698D9;
    opacity: 0.75;
}

.navbar {
    background-color: #DEB3E4;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 1180px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50px;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.navbar-list li {
    padding: 10px;
}

.navbar-list a {
    text-decoration: none;
    color: #9878A8; 
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.touan{
    font-family: 'Satisfy', sans-serif;
    font-size: 50px;
    position: fixed; 
    right: 170px; 
    bottom: 20px;
    
}

.couple-introduction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #9878A8;
    padding: 100px;
    border: 3px solid #B698D9;
    border-radius: 75px;
    text-align: center;
}

.couple-photo {
    text-align: center ;
}

.photo {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    max-width: 100%; 
}

.couple-photo p {
    font-family: 'Montserrat Alternates', sans serif;
}

.heart-icon{
    width: 80px;
    height: auto;
    top: 55px;
    left: 55px;
    position: relative;
    margin: 0 20px;
}

.photo-icon{
    width: 50px;
    height: auto;
    position: relative;
    top: 350px;
    right: 50px;
    margin: 0;
}

#Date {
    font-family: 'Montserrat', sans-serif;
    background-color: #9878A8;
    color: #333333;
    text-align: center;
}

.date-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.event {
    text-align: center;
    padding: 20px;
    border: 3px solid #333333;
    border-radius: 10px;
    background-color: #DEB3E4;
    width: 45%;
    margin: 10px; 
}

.event h2 {
    font-family: 'Moulpali', sans serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

.date, .location {
    font-size: 18px;
    margin: 10px 0;
}

.address {
    font-size: 16px;
    margin-top: 10px;
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Poor Story', cursive;
  background: #bdffbd;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

.rsvp-container {
    background-color: #DEB3E4;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.rsvp-container h1 {
    font-family: 'Fortune', sans-serif;
    font-size: 36px;
    color: #333;
}

.form-group {
    margin: 20px 0;
    text-align: left;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="text"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #9878A8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #B698D9;
}

